<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">

				I'm James, an IT systems engineer with a background in designing, implementing, and maintaining complex IT systems.            </p>
            <p class="paragraph-text justify-text">
                My fascination with technology started early and has since evolved into a fervent passion, maturing alongside my career. I love unraveling complex problems and solving puzzles and troubleshooting/debugging is a joy to me.
            </p>
            <p class="paragraph-text justify-text">
                In the course of my professional journey, I have developed technical skills across various IT domains, including networking, systems administration, information security, cloud computing, and scripting.
            </p>
        </div>
    </section>
</div>
